html, body {
    height: 100%;
}

body {
    margin: 0;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    padding-top: 1%;
    padding-bottom: 1%;
}

#pincodeInput {
    width: 30%
}

#displayDiv {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    flex-wrap: wrap;
}

.containerDiv, .widgetDiv {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-bottom: 1%;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img.selectedImg {
    border: 2px black solid;
}